// Base
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden],
  template {
    display: none;
  }
  a {
    background: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: bold;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  input {
    line-height: normal;
  }
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  legend {
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: auto;
  }
  optgroup {
    font-weight: bold;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td,
  th {
    padding: 0;
  }
  html {
    font-size: 16px;
    font-size: 100%;
  }
  body {
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: auto;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: block;
  padding: 0 2em;
}
.center {
  text-align: center;
}
hr.container {
  margin-top: 2em;
  margin-bottom: 2em;
}
h1.page-title {
  font-size: 3rem;
  color: #8d0b3b;
}
.hero {
  background: -webkit-linear-gradient(bottom, RGBA(189, 144, 30, 0.5), rgba(0, 0, 0, 0.75)), url("../img/st-james-church.jpg");
  background: linear-gradient(to bottom, RGBA(189, 144, 30, 0.5), rgba(0, 0, 0, 0.75)), url("../img/st-james-church.jpg");
  background-size: cover;
  background-position: center;
  padding: 4em 2em;
}
.hero img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  height: 8rem; 
}
.hero * {
  color: #faf5f0;
  text-align: center;
  margin: 0;
  display: block;
}
.hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.5rem;
}
.hero p {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.25rem;
  font-weight: 700;
}
.hero small {
  font-size: 1.25em;
  font-weight: 400;
}
.hero ul.buttons {
  display: block;
  margin-top: 1em;
  padding-left: 0;
}
.hero ul.buttons li {
  display: inline-block;
  margin-top: 1em;
}
.hero ul.buttons li a {
  background: RGBA(189, 144, 30, 1.00);
  color: white;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}
.partners {
  background: white;
}
.partners ul {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  padding: 1em 0 1em;
  margin-top: 0;
  text-align: center;
}
.partners ul li {
  display: inline-block;
  list-style-type: none;
  overflow: auto;
  margin: 0 0.75em;
  margin-top: 2em;
}
.partners ul li a {
  overflow: auto;
  text-decoration: none;
}
.partners ul li a img {
  height: 3.5rem;
  display: block;
}

.partners ul li a img.pad {
  padding: 0.25em;
  box-sizing: border-box;
}

.partners ul li a img.double-pad {
  padding: 0.5em;
  box-sizing: border-box;
}

.partners ul.small {
  padding-top: 0;
}

.partners ul.small li a img {
  height: 3rem;
}

.partners ul li.large {
  margin-top: 0;
  margin-bottom: -1em;
}

.partners ul li.large a img {
  height: 5rem;
}

@media only screen and (max-width: 700px) {
  .partners ul li {
    display: block;
    margin-bottom: 1em;
  }
  .partners ul li:last-child {
    margin-bottom: 0;
  }
  .partners ul li a img {
    margin: 0 auto;
  }
}
.intro {
  font-size: 1.25em;
  margin-top: 3em;
  margin-bottom: 3rem;
}
.intro p a {
  color: inherit;
}
.conduct {
  background: #333;

  margin-top: 2em;
  padding-bottom: 0;
  padding: 1.5em 0 2em;
}
.conduct p {
  color: #fff;
  margin-top: 0;
}
.conduct a {
  background: RGBA(189, 144, 30, 1.00);
  color: white;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
}
@media only screen and (max-width: 700px) {
  .conduct a {
    margin-bottom: 1em;
    display: inline-block;
  }
  .conduct a:last-child {
    margin-bottom: 0;
  }
  .hero img {
    width: 100%;
    height: auto;
  }
}
.faq {
  padding-bottom: 2em;
  background: url("../img/faq-texture.png");
  padding-top: 1em;
}
.faq ul {
  padding-left: 0;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq ul li {
  list-style-type: none;
  background: #fff;
  border: 2px solid RGBA(189, 144, 30, 1.00);
  width: calc(50% - 4em);
  margin-bottom: 2em;
  padding: 1.5em;
  box-sixing: border-box;
  // box-shadow: 3px 3px 3px RGBA(189, 144, 30, .5);
}
.faq ul li h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.25;
  color: RGBA(189, 144, 30, 1.00);
}
.faq ul li p {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 400;
}
.faq ul li p a {
  color: RGBA(189, 144, 30, 1.00);
  text-decoration: none;
  font-style: italic;
}
@media only screen and (max-width: 700px) {
  .faq ul li {
    width: 100%;
  }
}
.conference {
  background: -webkit-linear-gradient(bottom, #333, black);
  background: linear-gradient(to bottom, #333, black);
  color: #fff;
  text-align: center;
  padding: 2em 0 3em;
}

.conference img {
  width: 100px;
  margin-top: 1em;
}

.conference p + h1 {
  margin-top: 2em;
}
.conference a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
.conference a:active {
  background: #7f0a35;
}
.conference a.disabled,
.conference a.disabled:active {
  background: #71092f;
}
header {
  background: -webkit-linear-gradient(left, #371f38, #8d0b3b);
  background: linear-gradient(to right, #371f38, #8d0b3b);
  padding: 1em 0;
}
header .left {
  overflow: auto;
  color: inherit;
  text-decoration: none;
  display: block;
}
header .left img {
  height: 6rem;
  float: left;
}
header .left h1 {
  float: left;
  font-size: 2rem;
  margin-top: 1.6rem;
  color: #fff;
  margin-left: 1em;
}

@media only screen and (max-width: 500px) {
  .hero img {
    width: 100%;
  }
  #mlh-trust-badge {
    display: none !important;
  }
}

 /*# sourceMappingURL=master.css.map */
